@font-face {
	font-family: "product";
	src: url("product.eot?1e27be262b84d1cad9580545ec1b116f?#iefix") format("embedded-opentype"),
url("product.woff2?1e27be262b84d1cad9580545ec1b116f") format("woff2"),
url("product.woff?1e27be262b84d1cad9580545ec1b116f") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: product !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-accounts-logomark:before {
	content: "\f101";
}
.icon-accounts-logotype:before {
	content: "\f102";
}
.icon-api-logomark:before {
	content: "\f103";
}
.icon-api-logotype:before {
	content: "\f104";
}
.icon-calendar-logomark:before {
	content: "\f105";
}
.icon-calendar-logotype:before {
	content: "\f106";
}
.icon-check-ins-logomark:before {
	content: "\f107";
}
.icon-check-ins-logotype:before {
	content: "\f108";
}
.icon-church-center-logomark:before {
	content: "\f109";
}
.icon-church-center-logotype:before {
	content: "\f10a";
}
.icon-giving-logomark:before {
	content: "\f10b";
}
.icon-giving-logotype:before {
	content: "\f10c";
}
.icon-groups-logomark:before {
	content: "\f10d";
}
.icon-groups-logotype:before {
	content: "\f10e";
}
.icon-music-stand-logomark:before {
	content: "\f10f";
}
.icon-music-stand-logotype:before {
	content: "\f110";
}
.icon-people-logomark:before {
	content: "\f111";
}
.icon-people-logotype:before {
	content: "\f112";
}
.icon-publishing-logomark:before {
	content: "\f113";
}
.icon-publishing-logotype:before {
	content: "\f114";
}
.icon-registrations-logomark:before {
	content: "\f115";
}
.icon-registrations-logotype:before {
	content: "\f116";
}
.icon-resource-logotype:before {
	content: "\f117";
}
.icon-resources-logomark:before {
	content: "\f118";
}
.icon-services-logomark:before {
	content: "\f119";
}
.icon-services-logotype:before {
	content: "\f11a";
}
