.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-icon {
  height: 1.25em;
  width: 1.25em;
  cursor: zoom-in;
  transition: transform .1s ease-out;
}

.App-icon:hover {
  transform: scale(4);
  transition: transform .1s ease-in;
}
