@font-face {
	font-family: "planning-center";
	src: url("planning-center.eot?ac54adb166de5493a1cd2a8b02d5763c?#iefix") format("embedded-opentype"),
url("planning-center.woff2?ac54adb166de5493a1cd2a8b02d5763c") format("woff2"),
url("planning-center.woff?ac54adb166de5493a1cd2a8b02d5763c") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: planning-center !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-color-planning-center-badge:before {
	content: "\f101";
}
.icon-color-planning-center-mark:before {
	content: "\f102";
}
.icon-light-planning-center-badge:before {
	content: "\f103";
}
.icon-light-planning-center-mark:before {
	content: "\f104";
}
.icon-planning-center-badge:before {
	content: "\f105";
}
.icon-planning-center-mark:before {
	content: "\f106";
}
