@font-face {
	font-family: "registrations";
	src: url("registrations.eot?cf22c12f0c7083ffbe8a9b296d6976b9?#iefix") format("embedded-opentype"),
url("registrations.woff2?cf22c12f0c7083ffbe8a9b296d6976b9") format("woff2"),
url("registrations.woff?cf22c12f0c7083ffbe8a9b296d6976b9") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: registrations !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add-ons:before {
	content: "\f101";
}
.icon-assignments:before {
	content: "\f102";
}
.icon-attendee-type:before {
	content: "\f103";
}
.icon-bell:before {
	content: "\f104";
}
.icon-calendar-outline:before {
	content: "\f105";
}
.icon-capacity:before {
	content: "\f106";
}
.icon-discount:before {
	content: "\f107";
}
.icon-drag:before {
	content: "\f108";
}
.icon-form-download:before {
	content: "\f109";
}
.icon-overview:before {
	content: "\f10a";
}
.icon-person-details:before {
	content: "\f10b";
}
.icon-put-back-arrow:before {
	content: "\f10c";
}
.icon-refund:before {
	content: "\f10d";
}
.icon-reports:before {
	content: "\f10e";
}
.icon-scholarship:before {
	content: "\f10f";
}
.icon-undo:before {
	content: "\f110";
}
