@font-face {
	font-family: "api";
	src: url("api.eot?1c9ef59c657da188bf61d7f47de2c192?#iefix") format("embedded-opentype"),
url("api.woff2?1c9ef59c657da188bf61d7f47de2c192") format("woff2"),
url("api.woff?1c9ef59c657da188bf61d7f47de2c192") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: api !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-compass:before {
	content: "\f101";
}
.icon-copy:before {
	content: "\f102";
}
.icon-document:before {
	content: "\f103";
}
.icon-key:before {
	content: "\f104";
}
.icon-link:before {
	content: "\f105";
}
.icon-terminal:before {
	content: "\f106";
}
.icon-webhook:before {
	content: "\f107";
}
