@font-face {
	font-family: "giving";
	src: url("giving.eot?fdb5432fc38b35d71493818f9cd80535?#iefix") format("embedded-opentype"),
url("giving.woff2?fdb5432fc38b35d71493818f9cd80535") format("woff2"),
url("giving.woff?fdb5432fc38b35d71493818f9cd80535") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: giving !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-anonymous:before {
	content: "\f101";
}
.icon-arrow-up-trend-circle-o:before {
	content: "\f102";
}
.icon-arrows-merging:before {
	content: "\f103";
}
.icon-batches-group:before {
	content: "\f104";
}
.icon-batches:before {
	content: "\f105";
}
.icon-check-circle-stylized:before {
	content: "\f106";
}
.icon-clock-circle-o:before {
	content: "\f107";
}
.icon-communication:before {
	content: "\f108";
}
.icon-defaults:before {
	content: "\f109";
}
.icon-donations:before {
	content: "\f10a";
}
.icon-download:before {
	content: "\f10b";
}
.icon-edit-circle-outline:before {
	content: "\f10c";
}
.icon-email-multi:before {
	content: "\f10d";
}
.icon-email:before {
	content: "\f10e";
}
.icon-eraser:before {
	content: "\f10f";
}
.icon-hold:before {
	content: "\f110";
}
.icon-info-alt:before {
	content: "\f111";
}
.icon-info:before {
	content: "\f112";
}
.icon-linked-circles:before {
	content: "\f113";
}
.icon-merge-circle-outline:before {
	content: "\f114";
}
.icon-note:before {
	content: "\f115";
}
.icon-page-right-double:before {
	content: "\f116";
}
.icon-payment-methods:before {
	content: "\f117";
}
.icon-person-cog:before {
	content: "\f118";
}
.icon-person-group:before {
	content: "\f119";
}
.icon-person:before {
	content: "\f11a";
}
.icon-pledge-calendar:before {
	content: "\f11b";
}
.icon-pledge-check:before {
	content: "\f11c";
}
.icon-pledge-pencil:before {
	content: "\f11d";
}
.icon-print:before {
	content: "\f11e";
}
.icon-printer-circle:before {
	content: "\f11f";
}
.icon-recurring:before {
	content: "\f120";
}
.icon-stripe-link:before {
	content: "\f121";
}
.icon-trash-circle-outline:before {
	content: "\f122";
}
