@font-face {
	font-family: "calendar";
	src: url("calendar.eot?34c7f2e71c45faf187a9429a91d1f975?#iefix") format("embedded-opentype"),
url("calendar.woff2?34c7f2e71c45faf187a9429a91d1f975") format("woff2"),
url("calendar.woff?34c7f2e71c45faf187a9429a91d1f975") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: calendar !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-approval-group:before {
	content: "\f101";
}
.icon-kiosk:before {
	content: "\f102";
}
.icon-people:before {
	content: "\f103";
}
.icon-primary-room:before {
	content: "\f104";
}
.icon-reservation-block:before {
	content: "\f105";
}
.icon-resources-reverse:before {
	content: "\f106";
}
.icon-resources:before {
	content: "\f107";
}
.icon-room-setup:before {
	content: "\f108";
}
.icon-rooms-reverse:before {
	content: "\f109";
}
.icon-rooms:before {
	content: "\f10a";
}
