@font-face {
	font-family: "accounts";
	src: url("accounts.eot?bda2e936fc0b11c614e84b0ce440fd79?#iefix") format("embedded-opentype"),
url("accounts.woff2?bda2e936fc0b11c614e84b0ce440fd79") format("woff2"),
url("accounts.woff?bda2e936fc0b11c614e84b0ce440fd79") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: accounts !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow-indent:before {
	content: "\f101";
}
.icon-bill:before {
	content: "\f102";
}
.icon-calendar:before {
	content: "\f103";
}
.icon-campus:before {
	content: "\f104";
}
.icon-church-center-o:before {
	content: "\f105";
}
.icon-compass:before {
	content: "\f106";
}
.icon-contact-card:before {
	content: "\f107";
}
.icon-editor:before {
	content: "\f108";
}
.icon-integration-connected:before {
	content: "\f109";
}
.icon-integration-disconnected:before {
	content: "\f10a";
}
.icon-integrations:before {
	content: "\f10b";
}
.icon-lightbulb:before {
	content: "\f10c";
}
.icon-photo:before {
	content: "\f10d";
}
.icon-renew:before {
	content: "\f10e";
}
.icon-safe:before {
	content: "\f10f";
}
.icon-stamp:before {
	content: "\f110";
}
