@font-face {
	font-family: "people";
	src: url("people.eot?09f95651af3179ec42f5d9d27fb8bc12?#iefix") format("embedded-opentype"),
url("people.woff2?09f95651af3179ec42f5d9d27fb8bc12") format("woff2"),
url("people.woff?09f95651af3179ec42f5d9d27fb8bc12") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: people !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-activity-regis:before {
	content: "\f101";
}
.icon-advance:before {
	content: "\f102";
}
.icon-apple:before {
	content: "\f103";
}
.icon-bars:before {
	content: "\f104";
}
.icon-bgcheck-status-clear:before {
	content: "\f105";
}
.icon-bgcheck-status-expired:before {
	content: "\f106";
}
.icon-bgcheck-status-none:before {
	content: "\f107";
}
.icon-bgcheck-status-notclear:before {
	content: "\f108";
}
.icon-bgcheck-status-pending:before {
	content: "\f109";
}
.icon-bulk-actions:before {
	content: "\f10a";
}
.icon-card-complete:before {
	content: "\f10b";
}
.icon-card-removed:before {
	content: "\f10c";
}
.icon-comment-outline:before {
	content: "\f10d";
}
.icon-comment:before {
	content: "\f10e";
}
.icon-duplicate:before {
	content: "\f10f";
}
.icon-error-uploading:before {
	content: "\f110";
}
.icon-form-checkbox:before {
	content: "\f111";
}
.icon-form-dropdown:before {
	content: "\f112";
}
.icon-form-number:before {
	content: "\f113";
}
.icon-form-paragraph:before {
	content: "\f114";
}
.icon-form-text:before {
	content: "\f115";
}
.icon-groups-added:before {
	content: "\f116";
}
.icon-groups-removed:before {
	content: "\f117";
}
.icon-history:before {
	content: "\f118";
}
.icon-id-card-outline:before {
	content: "\f119";
}
.icon-import-progress:before {
	content: "\f11a";
}
.icon-logic:before {
	content: "\f11b";
}
.icon-mix-gender:before {
	content: "\f11c";
}
.icon-no-activity:before {
	content: "\f11d";
}
.icon-person-arrow:before {
	content: "\f11e";
}
.icon-person-outline:before {
	content: "\f11f";
}
.icon-person-pencil:before {
	content: "\f120";
}
.icon-photo-outline:before {
	content: "\f121";
}
.icon-school:before {
	content: "\f122";
}
.icon-skip-step:before {
	content: "\f123";
}
.icon-step-back:before {
	content: "\f124";
}
.icon-unsubscribed:before {
	content: "\f125";
}
.icon-workflows:before {
	content: "\f126";
}
