@font-face {
	font-family: "check-ins";
	src: url("check-ins.eot?44cea6b80898d7188875c648f255ff3b?#iefix") format("embedded-opentype"),
url("check-ins.woff2?44cea6b80898d7188875c648f255ff3b") format("woff2"),
url("check-ins.woff?44cea6b80898d7188875c648f255ff3b") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: check-ins !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add-household:before {
	content: "\f101";
}
.icon-barcode-camera:before {
	content: "\f102";
}
.icon-barcode:before {
	content: "\f103";
}
.icon-bgcheck-check:before {
	content: "\f104";
}
.icon-bgcheck-x:before {
	content: "\f105";
}
.icon-birthday:before {
	content: "\f106";
}
.icon-chart:before {
	content: "\f107";
}
.icon-check-pending:before {
	content: "\f108";
}
.icon-check:before {
	content: "\f109";
}
.icon-checkin:before {
	content: "\f10a";
}
.icon-checkout:before {
	content: "\f10b";
}
.icon-delete:before {
	content: "\f10c";
}
.icon-guest-badge:before {
	content: "\f10d";
}
.icon-household-add-person:before {
	content: "\f10e";
}
.icon-label-add-multiple:before {
	content: "\f10f";
}
.icon-label-birthday-add:before {
	content: "\f110";
}
.icon-label-birthday-circle:before {
	content: "\f111";
}
.icon-label-birthday:before {
	content: "\f112";
}
.icon-label-name-add:before {
	content: "\f113";
}
.icon-label-name-circle:before {
	content: "\f114";
}
.icon-label-name:before {
	content: "\f115";
}
.icon-label-security-add:before {
	content: "\f116";
}
.icon-label-security-circle:before {
	content: "\f117";
}
.icon-label-security:before {
	content: "\f118";
}
.icon-label:before {
	content: "\f119";
}
.icon-mobile-pass:before {
	content: "\f11a";
}
.icon-report-preview:before {
	content: "\f11b";
}
.icon-tick-box-full:before {
	content: "\f11c";
}
.icon-tick-box-open:before {
	content: "\f11d";
}
.icon-x:before {
	content: "\f11e";
}
