@font-face {
	font-family: "cco";
	src: url("cco.eot?ed96da62547e250c2007ac9d177ce754?#iefix") format("embedded-opentype"),
url("cco.woff2?ed96da62547e250c2007ac9d177ce754") format("woff2"),
url("cco.woff?ed96da62547e250c2007ac9d177ce754") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: cco !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-calendar-outline:before {
	content: "\f101";
}
.icon-check-encircled:before {
	content: "\f102";
}
.icon-statements-o:before {
	content: "\f103";
}
